@model LibraryPortal.Models.Book

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.transactionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transactionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loanStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loanStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
